---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
import pixar from "../../assets/photos/pixar-2.jpg";
import retreatSp24 from "../../assets/photos/retreat-sp24-wide.jpg";
import retreatFa23 from "../../assets/photos/retreat-fa23.jpeg";
import midautumn from "../../assets/photos/midautumn-group.jpeg";
import halloween from "../../assets/photos/halloween.jpeg";
---

<PageLayout title="SSA Berkeley | Events">
    <h1>Our Recent Events</h1>
    <p>From retreats to company visits, SSA runs many events every semester.</p>

    <section>
        <Image
            src={pixar}
            alt="A company visit to Pixar at Emeryville"
            style="width: 100%; height: auto; max-width: 800px; min-width: 300px; border-radius: 1rem;"
            loading="eager"
        />
        <p>A company visit to Pixar at Emeryville</p>
    </section>

    <section>
        <Image
            src={retreatSp24}
            alt="A spring retreat to Yosemite"
            style="width: 100%; height: auto; max-width: 800px; min-width: 300px; border-radius: 1rem;"
        />
        <p>A spring retreat to Yosemite</p>
    </section>

    <section>
        <Image
            src={retreatFa23}
            alt="A fall retreat to Blue Lake Springs"
            style="width: 100%; height: auto; max-width: 800px; min-width: 300px; border-radius: 1rem;"
        />
        <p>A fall retreat to Blue Lake Springs</p>
    </section>

    <section>
        <Image
            src={midautumn}
            alt="A joint Mid-Autumn Festival with MASA and BISA"
            style="width: 100%; height: auto; max-width: 800px; min-width: 300px; border-radius: 1rem;"
        />
        <p>A joint Mid-Autumn Festival with MASA and BISA</p>
    </section>

    <section>
        <Image
            src={halloween}
            alt="A halloween party at our (un)official party house"
            style="width: 100%; height: auto; max-width: 800px; min-width: 300px; border-radius: 1rem;"
        />
        <p>A halloween party at our (un)official party house</p>
    </section>
</PageLayout>

<style>
    h1 {
        font-size: 3rem;
        font-weight: 600;
        padding: 2rem 0;
    }

    p {
        text-align: center;
        width: 100%;
        max-width: 800px;
    }

    section {
        width: 80%;
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
        padding: 4rem 0;
    }

    section p {
        text-align: center;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        section {
            padding: 2rem 0;
        }
    }
</style>
