---
import { Image } from "astro:assets";

import Topnav from "../components/Topnav.astro";
import HomeLayout from "../layouts/HomeLayout.astro";

import landingSVG from "../../assets/photos/landing.svg";
import pixarPic from "../../assets/photos/pixar.png";
import retreatGroupHikeFa23 from "../../assets/photos/retreat-group-hike-fa23.jpeg";
import dinnerPic from "../../assets/photos/dinner.png";
---

<HomeLayout title="SSA Berkeley">
    <section class="landing">
        <Image
            src={landingSVG}
            alt="SSA Spring 2024 Retreat at Yosemite"
            loading="eager"
            class="image"
        />

        <Topnav isHome={true} />

        <div class="ssa">
            <h1>
                <span style="color: var(--ssa-blue); font-weight: 600;">S</span
                >ingapore
            </h1>
            <h1>
                <span style="color: var(--ssa-yellow); font-weight: 600;"
                    >S</span
                >tudent
            </h1>
            <h1>
                <span style="color: var(--ssa-gray); font-weight: 600;">A</span
                >ssociation
            </h1>
            <h2>@ UC Berkeley</h2>
        </div>
    </section>

    <section class="content">
        <h1>We Are SSA</h1>

        <Image
            src={pixarPic}
            alt="SSA Pixar Visit Fall 2023"
            style="width: 80%; height: auto; max-width: 700px; min-width: 300px; border-radius: 1rem;"
        />

        <div class="info">
            <div class="infotext">
                <h2>A family away from home</h2>
                <p>
                    SSA is a close-knit community for all Singaporeans at Cal!
                    No matter who you are - freshmen, transfers, exchange
                    students - SSA is here to make you feel at home.
                </p>
            </div>
            <Image
                src={retreatGroupHikeFa23}
                alt="SSA Fall 2023 Retreat - Hiking at Table Mountain"
                style="width: 100%; height: auto; max-width: 500px; min-width: 200px; border-radius: 1rem;"
            />
        </div>

        <div class="info">
            <Image
                src={dinnerPic}
                alt="Fun SSA dinner"
                style="width: 100%; height: auto; max-width: 500px; min-width: 200px; border-radius: 1rem;"
            />
            <div class="infotext">
                <h2>Chiong and lepak together</h2>
                <p>
                    We're here to support you during grind season <span
                        style="font-style: italic;">and</span
                    > fun season. Your friends here at SSA are just one call away!
                </p>
            </div>
        </div>

        <div class="action">
            <p>
                So, if you miss speaking Singlish, drinking Milo, or listening
                to NDP songs...
            </p>
            <a href="/join" class="button">Join us lah</a>
        </div>
    </section>
</HomeLayout>

<style>
    .landing {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }

    .image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -10;
        position: absolute;
    }

    .ssa {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        row-gap: 1rem;
    }

    .ssa h1 {
        font-size: 4rem;
        color: white;
        text-align: left;
    }

    .ssa h2 {
        width: 100%;
        text-align: right;
        color: var(--ssa-gray);
    }

    .content {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        padding-top: 5rem;
        row-gap: 5rem;
    }

    .content h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    .info {
        width: 80%;
        height: fit-content;
        column-gap: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .infotext {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .infotext h2 {
        text-align: left;
        font-weight: 600;
    }

    .action {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
        width: 80%;
        height: fit-content;
        padding: 2rem;
        border-radius: 1rem;
        background: conic-gradient(
            from 205deg at 73.52% 50.21%,
            #c73b3c 0deg,
            #ef7c13 17.554832696914673deg,
            #f7c515 192.27011919021606deg
        );
    }

    .button {
        color: white;
        background-color: black;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }

    .button:hover {
        opacity: 0.85;
    }

    @media (max-width: 768px) {
        .ssa h1 {
            font-size: 3rem;
        }

        .info {
            row-gap: 2rem;
            flex-direction: column;
        }

        .infotext h2,
        .infotext p {
            text-align: center;
            width: 100%;
        }
    }
</style>
