---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
import team from "../../assets/exco/ssa-exco.jpeg";
import arshul from "../../assets/exco/arshul.png";
import julie from "../../assets/exco/julie.png";
import dylan from "../../assets/exco/dylan.png";
import shak from "../../assets/exco/shak.png";
import jess from "../../assets/exco/jess.png";
import claire from "../../assets/exco/claire.png";
---

<PageLayout title="SSA Berkeley | Leadership">
    <section class="header">
        <div>
            <h1>Our Executive Committee</h1>
            <p>
                As leaders of the organization, the Executive Committee (EXCO)
                is fully committed to foster a welcoming, inclusive, supportive,
                and happy SSA community!
            </p>
        </div>
        <Image
            src={team}
            alt="SSA EXCO 2025-26"
            style="width: 100%; height: auto; max-width: 500px; min-width: 200px; border-radius: 1rem;"
            loading="eager"
        />
    </section>

    <section class="currEXCO">
        <div class="profile">
            <Image
                src={arshul}
                alt="Arshul Garg"
                style="width: 100%; height: auto; max-width: 400px; min-width: 150px; border-radius: 1rem;"
            />
            <div class="data">
                <h1>Arshul Garg</h1>
                <h2>President</h2>
            </div>
            <p>
                Arshul's favorite Singaporean food is Laksa! He had visited 13 national parks before the end of his first year at Berkeley!
            </p>
        </div>

        <div class="profile">
            <Image
                src={julie}
                alt="Julie Li"
                style="width: 100%; height: auto; max-width: 400px; min-width: 150px; border-radius: 1rem;"
            />
            <div class="data">
                <h1>Julie Li</h1>
                <h2>Vice President</h2>
            </div>
            <p>
                Julie's favorite food is Wanton Mee and Bak Kut Teh! She moved between Singapore and the US more than once!
            </p>
        </div>

        <div class="profile">
            <Image
                src={dylan}
                alt="Dylan Toh"
                style="width: 100%; height: auto; max-width: 400px; min-width: 150px; border-radius: 1rem;"
            />
            <div class="data">
                <h1>Dylan Toh</h1>
                <h2>Secretary</h2>
            </div>
            <p>
                Dylan's favorite Singaporean food is butter and sugar toast with Teh-O Kosong. He plays underwater hockey!
            </p>
        </div>

        <div class="profile">
            <Image
                src={jess}
                alt="Jesslyn Ashley Ruswan"
                style="width: 100%; height: auto; max-width: 400px; min-width: 150px; border-radius: 1rem;"
            />
            <div class="data">
                <h1>Jesslyn Ashley Ruswan</h1>
                <h2>Head of Externals</h2>
            </div>
            <p>
                Jesslyn's favorite food is Hainan Chicken Rice. Her family runs a crocodile farm!
            </p>
        </div>

        <div class="profile">
            <Image
                src={claire}
                alt="Claire Choo"
                style="width: 100%; height: auto; max-width: 400px; min-width: 150px; border-radius: 1rem;"
            />
            <div class="data">
                <h1>Claire Choo</h1>
                <h2>Head of Events & Publicity</h2>
            </div>
            <p>
                Claire's favorite food is Roti Prata. She has met the (former) prime minister of Singapore twice!
            </p>
        </div>

        <div class="profile">
            <Image
                src={shak}
                alt="Shakti Rajwani"
                style="width: 100%; height: auto; max-width: 400px; min-width: 150px; border-radius: 1rem;"
            />
            <div class="data">
                <h1>Shakti Rajwani</h1>
                <h2>Treasurer</h2>
            </div>
            <p>
                Shakti's favorite food is Kim San Leng Bishan Street 13 chicken rice. He was nearly attacked by a seal once!
            </p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2024-25</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Aadil Jamari</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Nyx Iskandar</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Shawn Goh </h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Ice Kulruchakorn</h1>
            <p>Head of Events & Publicity</p>
        </div>
        <div class="profile">
            <h1>Kenny Wongchamcharoen</h1>
            <p>Head of Externals</p>
        </div>
        <div class="profile">
            <h1>Ethan Lau</h1>
            <p>Deputy Head of Events & Publicity</p>
        </div>
        <div class="profile">
            <h1>Yi Yinqi</h1>
            <p>Deputy Head of External</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2023-24</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Xi Wen Han</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Loh Yih Hang (Apollo)</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Dylan Tay</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Zhao Jia Hong (Tyler)</h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Denyse Chan</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Elden Yap</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Nicole Hong</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Amanda Leong</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Tan Xuan En</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Javan Leong</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Michael Ng</h1>
            <p>Business Chair</p>
        </div>
        <div class="profile">
            <h1>Josephine Chow</h1>
            <p>Publicity Chair</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2022-23</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Lee Shi Hao</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Zoey Liew</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Ellen Wu</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Yuan Li</h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Burberry Roberts</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Daven Lim</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Harrison (Sin Yuen) Lee</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Bryan Sow</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Yun Zheng Wee</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Jayna Kai En Wu</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Chin Zong Han</h1>
            <p>Tech Lead / Saikang Warrior</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2021-22</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Howzhi Yong</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Joellene Yap</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Andre Dumont</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Angeline Lee</h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Ernest Goh</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Michelle Chang</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Maia Lu</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Shannon Or</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Alphonsus Yong</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Saloni Mohapatra</h1>
            <p>External Coordinator</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2020-21</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Vanessa Lim</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Shin Ning Chan</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Aboli</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Lincoln Too</h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Michael Leong</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Lulu Zhang</h1>
            <p>Events Coordinator</p>
        </div>
        <div class="profile">
            <h1>Chelsia Low</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Athena Leong</h1>
            <p>External Coordinator</p>
        </div>
        <div class="profile">
            <h1>Tara Menon</h1>
            <p>Social Chair</p>
        </div>
        <div class="profile">
            <h1>Persis Gan</h1>
            <p>Social Chair</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2019-20</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Adriel Tan</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Ashley Yip</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Luna Luo</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Jiong Han</h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Jenny Chen</h1>
            <p>Events Director</p>
        </div>
        <div class="profile">
            <h1>Rachel Ng</h1>
            <p>Events Director</p>
        </div>
        <div class="profile">
            <h1>Will Ko</h1>
            <p>External Director</p>
        </div>
        <div class="profile">
            <h1>Chris Ko</h1>
            <p>External Director</p>
        </div>
        <div class="profile">
            <h1>Jerry Lai</h1>
            <p>External Director</p>
        </div>
        <div class="profile">
            <h1>Kylene Tsai</h1>
            <p>Social Chair</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2018-19</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Lim Mingjun (MJ)</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Raphael Chew</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Tommy Poa</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Kawin S.</h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Elaine Yeo</h1>
            <p>Events Director</p>
        </div>
        <div class="profile">
            <h1>Yash Chainani</h1>
            <p>Events Director</p>
        </div>
        <div class="profile">
            <h1>Janelle Lee</h1>
            <p>External Director</p>
        </div>
        <div class="profile">
            <h1>Deng Fang Shuo</h1>
            <p>Tech / External Director</p>
        </div>
        <div class="profile">
            <h1>Marcel Tan</h1>
            <p>Social Chair</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2017-18</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Wen Rui Liau (Ray)</h1>
            <p>President / Tech Director</p>
        </div>
        <div class="profile">
            <h1>Kate Tan</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Eunice Tan Hui Sian</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Chinmoy Saayujya</h1>
            <p>Treasurer / Publicity Director</p>
        </div>
        <div class="profile">
            <h1>Crystal Lee</h1>
            <p>Events Director</p>
        </div>
        <div class="profile">
            <h1>Lee Dao Ming</h1>
            <p>Events Director</p>
        </div>
        <div class="profile">
            <h1>Kartikye Mittal</h1>
            <p>Social Chair</p>
        </div>
    </section>

    <div class="badge-container">
        <div class="badge">
            <p>AY 2016-17</p>
        </div>
    </div>

    <section class="pastEXCO">
        <div class="profile">
            <h1>Leon Sim</h1>
            <p>President</p>
        </div>
        <div class="profile">
            <h1>Ong Sheng Siong</h1>
            <p>Vice President</p>
        </div>
        <div class="profile">
            <h1>Ong Xin Suen</h1>
            <p>Secretary</p>
        </div>
        <div class="profile">
            <h1>Saurabh Malani</h1>
            <p>Treasurer</p>
        </div>
        <div class="profile">
            <h1>Vivian Li</h1>
            <p>Publicity Director</p>
        </div>
        <div class="profile">
            <h1>Christie Koay</h1>
            <p>Events Director</p>
        </div>
        <div class="profile">
            <h1>Vanessa Ng</h1>
            <p>"Mascot"</p>
        </div>
    </section>
</PageLayout>

<style>
    h1 {
        font-size: 3rem;
        font-weight: 600;
        text-align: left;
    }

    .header {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 4rem;
        padding: 4rem 0;
    }

    .header div {
        width: 100%;
        max-width: 500px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
    }

    .badge-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border: 1px black solid;
        border-radius: 0.5rem;
        font-size: 0.8rem;
    }

    .currEXCO,
    .pastEXCO {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 4rem;
        column-gap: 4rem;
        align-items: start;
    }

    .pastEXCO {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
    }

    .pastEXCO .profile {
        row-gap: 0;
    }

    .profile .data {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .profile h1,
    .profile h2 {
        font-size: 1rem;
    }

    .profile p {
        color: var(--ssa-gray);
    }

    .pastEXCO .profile h1,
    .pastEXCO .profile p {
        text-align: center;
    }

    .currEXCO .profile h1 {
        text-align: center;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        .header {
            padding: 2rem 0;
            row-gap: 2rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .header div {
            align-items: center;
        }

        .header div h1,
        .header div p {
            text-align: center;
        }

        .currEXCO {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        .pastEXCO {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
</style>
