---
import { Image } from "astro:assets";
import logo from "../../assets/logos/ssa.svg";
import instagram from "../../assets/socials/instagram.svg";
import linkedin from "../../assets/socials/linkedin.svg";
import facebook from "../../assets/socials/facebook.svg";
// import imdaLogo from "../../assets/logos/imda.svg";
// import joinableLogo from "../../assets/logos/joinable.svg";
// import monkshillLogo from "../../assets/logos/monkshill.svg";
// import zolveLogo from "../../assets/logos/zolve.svg";
---

<footer>
    <div class="footerContent">
        <div class="left">
            <Image src={logo} alt="SSA Logo" width={100} height={100} />
            <p>
                The Singapore Student Association (SSA) is a student
                organization that provides a close-knit family for students in
                UC Berkeley who are associated with or interested in the
                Singaporean culture.
            </p>
            <div class="socials">
                <a
                    href="https://www.instagram.com/ucberkeleyssa/"
                    target="_blank"
                >
                    <Image
                        src={instagram}
                        alt="SSA Instagram"
                        width={20}
                        height={20}
                    />
                </a>
                <a
                    href="https://www.linkedin.com/company/uc-berkeley-singapore-student-association/about/"
                    target="_blank"
                >
                    <Image
                        src={linkedin}
                        alt="SSA LinkedIn"
                        width={20}
                        height={20}
                    />
                </a>
                <a href="https://www.facebook.com/ssaberkeley/" target="_blank">
                    <Image
                        src={facebook}
                        alt="SSA Facebook"
                        width={20}
                        height={20}
                    />
                </a>
            </div>
        </div>

        <div class="right">
            <nav class="linksContainer">
                <div class="links">
                    <p>Menu</p>
                    <a href="/about">About</a>
                    <a href="/leadership">Leadership</a>
                    <a href="/events">Events</a>
                </div>
                <div class="links">
                    <p>Students</p>
                    <a href="/join">Membership</a>
                    <a href="/join/new-admits">New Admits</a>
                    <a href="/join/exchange">Exchange Students</a>
                </div>
                <div class="links">
                    <p>More</p>
                    <a href="/sponsor">Sponsor Us</a>
                    <a href="/hire">Hire Us</a>
                    <a href="mailto:contactus@ssa.berkeley.edu">Contact</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="footerContentEnd">
        <div class="leftEnd">
            <sub>Copyright &copy; 2025 SSA Berkeley. All rights reserved.</sub>
            <sub
                >Website maintained by <a href="https://jesslynruswan.framer.website/"
                    >Jesslyn Ashley Ruswan</a
                > :]</sub
            >
        </div>

        <div class="rightEnd">
            <div class="sponsors">
                <sub style="width: 70%"
                    >We're accepting sponsorships for Fall 2025 and Spring 2026!
                    Check out our <a href="/sponsor">Sponsor Us</a> page for more
                    info!</sub
                >
            </div>
        </div>

        <!-- <div class="rightEnd">
            <div class="sponsors">
                <sub>Proudly sponsored by</sub>
                <div class="sponsorLogos">
                    <Image
                        src={imdaLogo}
                        alt="IMDA"
                        style="width: 100%; height: auto; max-width: 80px; min-width: 20px;"
                    />
                    <Image
                        src={joinableLogo}
                        alt="Joinable"
                        style="width: 100%; height: auto; max-width: 80px; min-width: 20px;"
                    />
                    <Image
                        src={monkshillLogo}
                        alt="Monk's Hill"
                        style="width: 100%; height: auto; max-width: 50px; min-width: 20px;"
                    />
                    <Image
                        src={zolveLogo}
                        alt="Zolve"
                        style="width: 100%; height: auto; max-width: 50px; min-width: 20px;"
                    />
                </div>
            </div>
        </div> -->
    </div>
</footer>

<style>
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .footerContent,
    .footerContentEnd {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: row;
    }

    .footerContentEnd {
        align-items: end;
        padding: 1rem 0;
    }

    .left,
    .leftEnd {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
        width: 30%;
        padding-left: 5rem;
    }

    .leftEnd {
        row-gap: 0.5rem;
    }

    .left p,
    .left sub,
    .leftEnd p,
    .leftEnd sub,
    .sponsors sub {
        color: var(--ssa-gray);
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        column-gap: 1rem;
    }

    .right,
    .rightEnd {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        padding-right: 5rem;
        text-align: right;
    }

    .linksContainer {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 2rem;
    }

    .links {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .links p {
        font-weight: 600;
    }

    .links a,
    .sponsors a,
    .leftEnd a {
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .sponsors a,
    .leftEnd a {
        color: var(--ssa-gray);
        text-decoration: underline;
    }

    .links a:hover,
    .sponsors a:hover,
    .leftEnd a:hover {
        color: var(--ssa-yellow);
    }

    .sponsors {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .sponsorLogos {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        column-gap: 1rem;
    }

    @media (max-width: 1024px) {
        .footerContent {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .left {
            width: 80%;
            padding: 0;
        }

        .right {
            width: 80%;
            padding: 0;
            align-items: start;
            text-align: left;
        }

        .linksContainer {
            align-items: start;
            padding: 2rem 0;
        }

        .links {
            align-items: start;
        }
    }

    @media (max-width: 768px) {
        .footerContentEnd {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }

        .leftEnd {
            width: 80%;
            padding: 0;
            padding-top: 2rem;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .rightEnd {
            width: 80%;
            padding: 0;
            align-items: center;
        }

        .sponsors {
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        footer {
            font-size: 0.8rem;
        }
    }
</style>
